%p#notice= notice
= render partial: "maker_thing/show", locals: { maker_thing: @person }

.row
  .col-md-12
    = link_to edit_person_path(@person), class: "btn btn-default" do
      %span.glyphicon.glyphicon-pencil
      Edit


= render "search/map"
