%script
  var TILE_URL_TEMPLATE = 'http://b.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var NEW_ZEALAND_CENTER = [-42, 174];
  var DEFAULT_ZOOM = 5;
  var MAX_ZOOM = 18;
  var RESULT_MAX_ZOOM = 13;
  var MARKER_BOUNDS_PADDING = [20, 20];

  var map = L.map('map-container').setView(NEW_ZEALAND_CENTER, DEFAULT_ZOOM);

  var tileLayer = L.tileLayer(TILE_URL_TEMPLATE, { maxZoom: MAX_ZOOM })
  tileLayer.addTo(map);

  var personIcon = L.divIcon({className: 'person-icon', html: '<span class="glyphicon glyphicon-user"></span>'});

  var markers = [];

  - @all_results.select(&:latlong?).each do |r|
    - if r.is_a? Person
      var marker = L.marker(#{r.latlong}, {icon: personIcon});
    - else
      var marker = L.marker(#{r.latlong});

    marker.addTo(map);
    marker.bindPopup("#{ j render(partial: "search/result", locals: { result: r, map: true }) }");
    markers.push(marker);

  var group = new L.featureGroup(markers);
  map.fitBounds(group.getBounds(), { padding: MARKER_BOUNDS_PADDING, maxZoom: RESULT_MAX_ZOOM });
