.row
  .col-md-8
    %h2 Results
    .media
      - @results.each do |result|
        = render partial: 'result', locals: { result: result }

  .col-md-4
    %h4 Tags
    - @tags.each do |tag|
      = render partial: "tags/show_small.html", locals: { tag: tag }
