%p#notice= notice

= render partial: "maker_thing/show", locals: { maker_thing: @place }

= link_to edit_place_path(@place), class: "btn btn-default" do
  %span.glyphicon.glyphicon-pencil
  Edit


= render "search/map"
